html {
    scroll-padding-top: 200px;
}

body{
    font-family: 'Karla', sans-serif;
}

/* Table style */
table {
    border-collapse: collapse;
}
th{
    text-align: left;
    padding: 10px;
    white-space: nowrap;
}

tr:hover td {
    background-color: #dedede;
}

td{
    text-align: left;
    cursor: pointer;
    white-space: nowrap;
}

td a{
    color: #3b3b3b;
    padding: 10px 10px;
    display: block;
}

tbody tr:nth-child(even){
    background-color: #fff2e0;
}

/* General style */
h1
,h2
,h3{
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 32px;
    margin-bottom: 20px;
}
h2{
    font-size: 24px;
    margin-bottom: 15px;
}
h3{
    font-size: 20px;
    margin-bottom: 10px;
}
a{
    text-decoration: none;
}
p{
    padding: 0;
    margin: 0;
}

input, select{
    border: 1px solid #989898;
    border-radius: 2px;
}

input{
    display: block;
}

label{
    font-weight: 500;
    font-size: 14px;
}

button{
    cursor: pointer;
    font-family: 'Karla', sans-serif;
}

/* Text meant only for screen readers. */
.screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    word-wrap: normal !important;
}